{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %} 

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">LOS LIBROS CURAN LA ENFERMEDAD MAS PELIGROSA; LA IGNORANCIA </h1>
        <p class="lead">Registra tu libro en nuestra base de datos en la seccion de libros </p>
        <p class="lead">Si solicitas informacion de algun libro comunicate con:</p>
        <p class="lead">Sergio Hernando Baron Rivera-2201885, Miguel Ángel Hernández Carvajal-2214003</p>
        <hr class="my-2">
         
    </div>
</div>
{% endblock %}
